/* 
! Блочная модель / Отступы

* Все элементы делятся на 3 типа:
  * display: block; - блочные 
  * display: inline; - строчные 
  * display: inline-block; - строчно-блочные 

  Строчный элемент - занимает размер своего контента (+ задание для них размеров НЕ применимо), например, width / height - будут проигнорированы
  Блочный элемент - всегда занимает 100% ширины экрана и занимает отдельную строку
  Строчно-Блочный элемент - к нему применяются все свойства обоих типов. Ему можно задать размер и он будет воспринимать верхние и нижние отступы (margin)

! Отступы:
  * Padding - промежуток между контентом и его границей (внутренние отступы)
  * Margin - внешние отступы (пространство, которое отделяет один тег от другого и находится за пределами границ)

  - отступы добавляются по часовой стрелке -> сверху / справа / снизу / слева
  * margin: 10px 20px 10px 20px;

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

  - если значения совпадают, то можно использовать сокращенный вариант
  * margin: 10px 20px;

  ! Для строчных эл-тов не работают св-ва margin-top / margin-bottom

  ! Есть еще одна особенность -> Collapse Margin - Схлопывание отступов
    * когда суммарный отступ друг от друга div эл-тов, которые идут один за одним, не 20px, а 10px. 
    ! Если 2 эл-та с разными margin стоят рядом, то суммарное расстояние между ними будет равно БОЛЬШЕМУ margin-ну. 

! Box Model
  * показывается в DevTools
  * в нее входит:
    - сам контент
    - padding
    - border
    - margin


  * каждый эл-т на странице занмиает определенное пространство
  * данное пространство определяется блочной моделью


  * box-sizing: content-box; - по дефолту. когда с каждой стороны суммируются размеры каждой составляющей блочной модели
  ! box-sizing: border-box; - чтобы разработчикам не приходилось вычислять размеры блоков самостоятельно и чтобы к элементу применялись те размеры, которые были заданы. 
*/

span,
div {
  margin: 10px 20px 30px;
  padding: 10px 20px;
  

  border: 1px solid #85ba99;
}

.test {
  display: inline-block;
}

/* схлопывание */
.marg {
  display: inline-block;
  width: 150px;
  height: 100px;

  box-sizing: border-box;

  margin-top: 50px;
}

