/* 
! Каскадность и Наследование

- дело в том, что по мере создания таблиц стилей, все чаще возникает вопрос, почему именно так выглядят некоторые элементы. 
- всегда будут ситуации, когда к одному эл-ту применяются несколько стилей и из разных источников, например. Когда одни стили переписывают другие

- могут возникать конфликты, когда одно и тоже св-во описывается по-разному в разных таблицах стилей. 

* Чтобы не запутаться, есть специальный механизм - Каскадность - ряд правил, которые определяют, какие именно св-ва должны быть добавлены на эл-т, если в нем определено несколько конфликтующих св-в. 

* к одному эл-ту могут быть применены стили из разных селекторов
*/

/* 
  1. в самом начале стилизируем все параграфы
*/
p {
  padding: 10px;

  background-color: #61293f;
  color: #ffffff;
}

/* 
  3. далее переписываем св-ва 2го и 3го параграфов (так как вес селектора тега = 1, а класса = 10)
*/
/* .text_one {
  background-color: #1cc0b2;
  color: #000000;

  border: none !important;
} */

/* 
  4. селектор ID. у него вес 100
    ! Но обводки (border) все равно НЕТ, так как используется св-во !important - данные св-ва применяются в любом случае и не могут быть переопределены 
    
    * переопределить - сделать точно такое же св-во, но ниже
*/
/* #text2 {
  background-color: #2b2d7a;
  border: 2px solid #000000;
} */

/* 
  2. переписываем свойство bg - оно в приоритете, поскольку оно НИЖЕ в таблице стилей
*/
/* p {
  background-color: #d41f67;
} */


/* 
  ! Наследование
  - способность потомков перенимать правила, которые присвоены их родителю
  * закомментировать предыдущий код

  * рамка не появилась у остальных эл-тов, а только у body. Существуют определенные правила наследования:
    * есть св-ва, которые наследуются - определяющие вид текста 
    * и те, которые не наследуются - рамки, границы, позиционирование
  
  * чтобы присвоить эти св-ва - использовать INHERIT св-во 
*/

body {
  margin: 50px;

  color: #13e636;
  border: 1px solid #000000;
}

/* p {
  margin: inherit;
  border: inherit;
} */