/* 
  ! Размеры в CSS:
  * 1. Absolute: - значение, которое будет постоянным при его определении
    * px
    * cm
    * mm
    * in
    * pt
    * pc

  * 2. Relative: - относительно чего-то, они зависят от каки-то параметров и могут изменяться
    * % (например, font-size: 80%;). Если есть второй уровень вложенности, то 80% будет браться от верхнего уровня (ul -> li)
    * em / rem 
      * em - увеличенная в 2 раза текущая величина шрифта
      * rem - root (корень) - всегда отталкиваются от дефолтной величины шрифта в браузере
    * vw / vh (viewport) - видимая область экрана
    * vmax / vmin

  * в браузере размер шрифта по умолчанию - 16px
  ! Если нет заданных св-в для родителя, то берется дефолтное браузерное значение

  * переопределить базовый стиль - html тег
    html {
      font-size: 10px;
    }
*/

/* html {
  font-size: 10px;
} */

li {
  font-size: 20px;
}

.main {
  font-size: 12px;
}
