<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Attributes Template</title>
</head>
<body>

  <!-- 
    Универсальные атрибуты
    - помогают расширять возможности различных тегов. Добавляют им новые функции и могут менять их вид. 

    - это такой тип атрибутов, который можно применить практически ко всем тегам. 
    * 2 самых распространенных атрибута - id / class 

    Оба этих атрибута нужны для того, чтобы найти определенный элемент в вашей верстке.
  -->

  <!-- 
    ID - универсальный идентификатор, который помогает связать этот элемент с функциональностью. 
    ! На странице может быть только 1 тег с уникальным именем. Причем, у одного элемента может быть только 1 id

    * другой его особенностью служит цель, для которой элемент ищется. Когда тегу добавляется id, то он используется для того, чтобы навесить какую-то функциональность с помощью JS. 
      - так сложилось исторически именно из-за того, что id - уникален

    - id так же можно использовать для стилизации
  -->
  <h1 id="heading">Simple text</h1>
  <hr>

  <!-- 
    Class - это атрибут, который может связать тег с определенными стилями. Классы могут повторяться на странице любое кол-во раз. Причем, у одного эл-та может быть сразу несколько классов. 

    - классы используются для поиска элементов для последующей стилизации

    - можно выстроить сложную цепочку классов и добраться до нужного элемента. 
    - так же можно создать класс с общими стилями и добавлять его ко всем элементам, где эти стили нужны
  -->
  <p class="text idea">Simple text</p>
  <p class="text">Simple text 2</p>
  <hr>


  <!-- 
    Title - добавляет всплывающую подсказку для тега при наведении на него курсором

    - в разных браузерах эта подсказка может выглядеть иначе в разных браузерах
  -->
  <h2 title="HyperText Markup Language">HTML</h2>
  <hr>

  <!-- 
    Inline styles 
    - с его помощью на элемент можно напрямую навесить стили  
    * использовать нежелательно 
      - это inline стили (записываются все стили только в строчку)
      - перебить эти стили можно только с помощью !important
  -->
  <h2 style="color: red;">CSS</h2>
  <hr>

  <!-- 
    Contenteditable - при добавлении на элемент он сообщает, что эл-т становится доступный для редактирования и при клике пользователь может начать редактировать текст

    - при обновлении браузера строка вернется в первоначальное состояние
  -->
  <h2 contenteditable="true">This content you can change</h2>
  <hr>

  <!-- Spellcheck - проверка правописания -->
  <textarea spellcheck="true" rows="10" cols="45" name="text">
    This text cantain a cople misstakes
  </textarea>
  <hr>

  <!-- 
    Hidden 
    - скрывает элемент на странице, однако, не убирает его из DOM дерева
  -->
  <h2 hidden>Hidden content</h2>
  <hr>


  <!-- With tabindex - последовательность переключения на инпуты через Tab -->
  <input type="text" placeholder="name" tabindex="1"><br>
  <input type="text" placeholder="password" tabindex="3"><br>
  <input type="button" value="Submit" tabindex="2"><br>
  <hr>

  <!-- Without tabindex -->
  <input type="text" placeholder="name" required><br>
  <input type="text" placeholder="password"><br>
  <input type="button" value="Submit"><br>
  <hr>


  <!-- 
    Text direction - направление. можно менять направление текста в теге 
    - например, установить направление справа на лево
  -->
  <h2 dir="rtl">Hello world!</h2>
  <hr>

  <!-- Language - позволяет задать код языка, в результате чего будут применены определенные грамматические особенности -->
  <h2 lang="fr"><q>Hello world!</q></h2>
  <h2 lang="en"><q>Hello world!</q></h2>
  <hr>
</body>
</html>