<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Image template</title>
</head>
<body>

<!-- ----------------------------
  Simple image Absolute - абсолютные пути до картинок 
  - у них всегда и в любом месте один и тот же путь
-->
<img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Starsinthesky.jpg" alt="image_absolute" width="200" height="200">

<br>

<!-- 
  Simple image Relative - относительные пути до картинок
  - относительно того места, где картинки используются
-->
<img src="../img/test.jpg" alt="image_relative" width="200" height="200">
<br>
<img src="../img/icons/favicon.ico" alt="image_relative" width="200" height="200">

<br>
<br>
<br>
<hr>
<br>
<br>
<br>

<!-- ----------------------------
  Responsive image
  - помогает от ширины или высоты экрана прогружать ту или иную картинку
-->
<picture>
  <source media="(min-width: 1024px)" srcset="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg" width="400" height="400">
  <source media="(min-width: 768px)" srcset="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg" width="250" height="250">
  <source media="(min-width: 360px)" srcset="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg" width="150" height="150">

  <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg" alt="image_absolute">
</picture>

<br>
<br>
<br>
<hr>
<br>
<br>
<br>

<!-- ----------------------------
  Image with semantic description 
-->
<figure>
  <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg" alt="image_absolute" width="200" height="200">
  <figcaption>description image</figcaption>
</figure>

<br>
<br>
<br>
<hr>
<br>
<br>
<br>

<!-- ----------------------------
  Image with semantic description 
  - может быть сколько угодно картинок с один описанием снизу 
-->
<figure>
  <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg" alt="image_absolute" width="200" height="200">
  <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg" alt="image_absolute" width="200" height="200">
  <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg" alt="image_absolute" width="200" height="200">
  <figcaption>description image</figcaption>
</figure>

</body>
</html>