<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Lists Template</title>
</head>
<body>
  
<!-- Unordered list -->
<ul>
  <li>List</li>
  <li>List</li>
  <li>List</li>
</ul>

<hr>

<!-- Ordered list -->
<ol>
  <li>List</li>
  <li>List</li>
  <li>List</li>
</ol>

<hr>

<!-- Ordered list with start -->
<ol start="5">
  <li>List</li>
  <li>List</li>
  <li>List</li>
</ol>

<hr>

<!-- Ordered list Reverse -->
<ol reversed>
  <li>List</li>
  <li>List</li>
  <li>List</li>
</ol>

<hr>

<!-- 
  Unordered List 
  ! Если вложенный список не нумерованный, то внутренние списки НЕ ЗАКРАШЕНЫ
-->
<ul>
  <li>
    List 
    <ul>
      <li>List</li>
      <li>List</li>
      <li>List</li>
    </ul>
  </li>
  <li>List</li>
  <li>List</li>
</ul>

<hr>

<!-- 
  Ordered list
  ! Если вложенный список нумерованный, то нумерация идет отдельно 
-->
<ol>
  <li>
    List 
    <ol>
      <li>List</li>
      <li>List</li>
      <li>List</li>
    </ol>
  </li>
  <li>List</li>
  <li>List</li>
</ol>

<hr>

<!-- 
  Definitions List
  - список определений

  внутри есть теги БЕЗ вложенности: dt - термин / dd - определение термина
-->
<dl>
  <dt>Title</dt>
  <dd>Content</dd>

  <dt>Title</dt>
  <dd>Content</dd>
</dl>

</body>
</html>