<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Semantic Template</title>
</head>
<body>
  
<!-- ----------------------------
  Validation - валидация
  - это проверка документа специальной программой - валидатором
    она проверяет соответствие html документа установленным стандартам и 
    обнаруживает погрешности в вашем коде

  Эти стандарты называются спецификацией и разрабатываются W3C (Word Wide Web Consortium)
  https://jigsaw.w3.org/css-validator/
-->


<!-- ----------------------------
  Semantic - семантика
  - семантический тег - это тег, который носит смысловое объяснение
    т.е. обладает каким-то пояснением своего предназначения

  HTML5 внес кучу новых семантических тегов. у каждого из них свое предназначение

  * Теги делятся на: блочные и строчные
    Блочные - блочный элемент занимает всю ширину экрана
    Строчные - строчный элемент подстраивается под размер контента
-->

<!-- Block element -->
<div>Block text</div>

<!-- Inline element -->
<span>Inline text</span>


<!-- Examples of Semantic tags -->
<!-- header - в нем храниться шапка сайта -->
<header></header>

<!-- nav - в нем хранится навигация -->
<nav></nav>

<!-- main - отделение основной информации на стрнице -->
<main>
  <!-- section - отделение основной информации на логические (понятные) части -->
  <section>
    <article></article>
    <article></article>
  </section>

  <section>
    <aside></aside>
  </section>
</main>

<!-- article - например, какая-то новость -->

<!-- 
  aside - раздел страницы, который имеет косвенное отношение к содержимому страницы 
  и может быть рассмотрен отдельно от этого содержимого.

  https://developer.mozilla.org/en-US/docs/Web/HTML/Element/aside
-->
<aside></aside>

<!-- footer - подвал, блок в самом низу сайта -->
<footer></footer>



<!-- ----------------------------
  Unicode / Mnemonic
  - это специальный код для записи определенного графического символа для html формата

  https://unicode-table.com/en/2735/ - unicode table
  https://unicode-table.com/ru/html-entities/ - mnemonic table
-->
&#36;
&#10037;
&#14061;

<br>
<br>

&pound;
&copy;
&commat;


</body>
</html>